/* Reset Styling */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  /* font-size: 16px; */
}

/* Montserrat Variants:
Light 300
Regular 400
Black 900
 */

body{
  display:flex;
  flex-direction: row;
  margin: 0 auto;
  font-family: 'Montserrat', Arial, Helvetica,sans-serif;
  background-color:black;
  color:rgb(185, 185, 185);
  font-size: 16px;
}


.left{
  width: 40%;
  position: relative;
}

.left img{
  width:100%;
  height: 100%;
}

.dark{
  height:25%;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  position:absolute;
  top:20%;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.dark img{
  width:40%;
}

.filter-white{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(52deg) brightness(106%) contrast(103%);
}

.dark h1{
  width: 60%;
  font-size: 3rem;
  text-align: center;
  color: white;
  font-weight: 900;
}



/* Right Section CSS */
.right{
  width: 60%;
  flex: 1 1 auto;
  align-self: center;
  padding: 20px 0;
}


/* General x-axis padding */
.upper-section,
.middle-section,
.bottom-section{
  padding-left: 50px;
  padding-right: 150px;
}

.upper-section > h1{
  font-weight: 400;
}

.upper-section h1 + h1{
  margin-top: 20px;
}

.upper-section > h1 > em{
  font-weight:900;
}


.middle-section{
  box-shadow: 5px 3px 10px rgba(0,0,0,0.3);
  padding-top: 30px;
}

.middle-section > h1{
  font-weight: 300;
}

#signup-form{
  padding:30px 0 30px 0;
  display:flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}

.left-form-controls,
.right-form-controls{
  flex:1 1 auto;
  display:flex;
  flex-direction: column;
  gap:32px;
}

.form-row label{
  margin-bottom: 5px;
  display:block;
  font-weight:400;
}

.form-row input{
width:100%;
padding: 10px 10px;
border-radius: 5px;
border:none;
font-size: 0.9rem;
font-weight:900;
background-color: black;
border:solid thin white;
color:white;
}

input:invalid{
  border: 1px solid rgb(252, 73, 100);;
}

input:valid{
  border: 1px solid green;
}


.bottom-section{
  font-weight:bold;
}

.bottom-section button{
  padding: 15px 35px;
  background:none;
  color:rgb(252, 73, 100);
  border:2px solid rgb(252, 73, 100);
  border-radius: 30px;
  font-weight:900;
  font-size:1rem;
}

.bottom-section button:hover{
  background: rgb(252, 73, 100);
  color:black;
}

.bottom-section p{
  margin-top: 30px;
}

.bottom-section p > span{
  color:rgb(252, 73, 100);
}

#error-prompt{
  margin-top: 10px;
  color:rgb(252, 73, 100);
}